.hero {
  height: 100vh;
  position: relative;
}

.hero__above_layer {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.hero__above_layer__text {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 20.25rem 0 6.25rem;
}

.hero__above_layer__scroll {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.chevron-down-first-child {
  animation: goDown 0.75s alternate infinite;
}

@keyframes goDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0.25rem);
  }
}

#sen {
  font-family: Poppins;
  font-style: bold;
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  line-height: 100%;
  padding-bottom: 8.75rem;
  align-self: flex-end;
  color: #ffffff;
  animation-name: sen;
  animation-duration: 2s;
}

@keyframes sen {
  0% {margin-right: -100px; opacity: 0%;}
}

@media screen and (max-width: 800px) {
  .hero__above_layer__text {
    justify-content: center;
    padding: 0 1.5rem;
  }
  #sen {
    padding-bottom: 3rem;
    font-size: 24px;
  }
}
