#box {
  margin-top: 40px;
  z-index: 0;
}

#sen {
  position: absolute;
  right: 100px;
  bottom: 50px;
  font-family: Poppins;
  font-style: bold;
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  line-height: 100%;
  align-items: center;
  letter-spacing: 4%;
  color: #ffffff;
  z-index: 0;
}