.carousel__wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.carousel__item__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__item {
  width: 100%;
  height: 100%;
  font-size: 5rem;
  position: absolute;
  opacity: 0;
}

.carousel__item__image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 70%;
}

.carousel__item__active {
  opacity: 1;
}

.carousel__buttons__wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 99;
}

.carousel__buttons {
  margin-right: 2rem;
}

.carousel__button {
  cursor: pointer;
  width: 0.75rem;
  height: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  background-color: #555;
}

.carousel__button__active {
  background-color: #000;
}

.fadeOutLeft {
  animation-duration: 1s;
  animation-name: slideOut;
  opacity: 1;
  z-index: 99;
}

.fadeInRight {
  animation-duration: 1s;
  animation-name: slideIn;
}

@keyframes slideIn {
  0% {
    margin-left: 200%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes slideOut {
  0% {
    margin-right: 0%;
  }
  100% {
    margin-right: 200%;
  }
}
