.footer {
  background-color: #fff;
  border-radius: 2rem 2rem 0 0;
  padding: 2.5rem 3.75rem 0;
}

.footer__upper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer__upper__text {
  flex: 1;
}

.footer__upper__text > img {
  width: 11.625rem;
  margin-bottom: 1.5rem;
}

.footer__upper__text > p {
  margin-left: 5.625rem;
  width: 50%;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.footer__upper__text__social > h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.footer__upper__links {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.footer__upper__quick-nav {
  flex: 1;
}

.footer__upper__quick-nav > ul {
  list-style: none;
}

.footer__upper__quick-nav > h3 {
  margin-bottom: 2rem;
}

.footer__upper__quick-nav > ul > li > a {
  color: #767676;
  font-size: 1.25rem;
  margin-bottom: 0.375rem;
}

.footer__upper__reach-us {
  flex: 1;
}

.footer__upper__reach-us > h3 {
  margin-bottom: 2rem;
}

.footer__upper__reach-us > ul {
  list-style: none;
}

.footer__upper__reach-us__svg {
  height: 21px;
  width: 17px;
  margin-right: 1rem;
}

.pin-symb {
  width: 3rem;
}

.footer__upper__reach-us > ul > li {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

.footer__upper__reach-us__single {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer__upper__reach-us__links {
  color: #686868;
}

.footer__lower {
  font-size: 1.25rem;
  padding: 1rem 0;
  text-align: center;
}
