:root {
  background-color: rgb(133, 105, 105);
}

.logo {
  margin-left: 20px;
}

.nav-container {
  position: sticky;
  top: 0;
  z-index: 11;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  height: 4.5rem;
  width: 100%;
  flex-direction: row;
  background-color: #fff;
  opacity: 80%;
  align-items: center;
}

.nav-row {
  position: absolute;
  right: 0px;
  margin-right: 10px;
}

.menu-bar-icon {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .nav-row {
    display: none;
  }
  .menu-bar-icon {
    position: absolute;
    right: 0px;
    margin-right: 20px;
    display: block;
    color: #ffae00;
    font-size: 43px;
    right: 10px;
    float: right;
  }
}

.side-menu-container {
  position: sticky;
  top: 0;
  text-align: center;
  z-index: 11;
  height: 180px;
}

.side-menu-item {
  padding-left: 2rem;
}

.side-menu {
  display: none;
}

.side-menu-active {
  position: absolute;
  padding: 0;
  z-index: 101;
  width: 100%;
  height: 210px;
  margin-bottom: 73px;
  background-color: #fff;
  opacity: 80%;
  list-style-type: none;
  justify-content: center;
  margin-top: -0.2px;
  transition: 0.4s;
  box-shadow: 0 4px 2px 2px #555;
  animation-name: side-menu-active;
  animation-duration: 1s;
}

@keyframes side-menu-active {
  0% {opacity: 0%;}
}

.nav-link-side {
  text-decoration: none;
  color: #313131;
  font-family: Poppins;
  font-size: 20px;
  line-height: 50px;
}

.nav-link-side:hover {
  color: #ffae00;
  transition: 0.5s;
}

.nav-link {
  margin: 20px;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  color: #313131;
}

.nav-link:hover {
  color: #ffae00;
  transition: 0.5s;
}

#blog {
  color: #000000;
  font-weight: 600;
}

#log-text {
  background-color: #ffae00;
  color: #000000;
  font-weight: 600;
  border-radius: 30.5px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 60px;
}

#log-text:hover {
  color: seashell;
  transition: 0.5s;
}

#log-side {
  background-color: #ffae00;
  color: #000000;
  font-weight: 600;
  border-radius: 30.5px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 55px;
  margin-left: -6px;
}

#log-side:hover {
  color: seashell;
  transition: 0.5s;
}

#blog-side {
  color: #000000;
  font-weight: 600;
}